.example-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 1.5rem;
    text-align: center;
    background-color: crimson;
  }
  
  .example-container > * {
    width: 100%;
  }
.mat-form-field-label {
    color: black !important;
}

  button {
    background: rgb(4, 116, 192);
    background: linear-gradient(90deg, rgba(4, 116, 192, 1) 32%, rgba(17, 118, 196, 1) 43%, rgba(236, 192, 39, 1) 66%);
  }
  