.example-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 1.5rem;
  }
  
  .example-container > * {
    width: 100%;
  }
  .feedback {
  text-align: center;
  }
 