h2 {
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.5rem;
}
h3 {
    text-align: center;
    height: 6rem;
    font-size: 2.5rem;
    font-family: 'Nanum Brush Script', cursive;
    margin: 0;
}
