<div class="quick-links-grid-container">
    <div>
        <div class="grid-item"><a href="Services">SERVICES</a></div>
        <div class="grid-item"><a href="Book">BOOK</a></div>
    </div>
    <div>
        <div class="grid-item"><a href="Accessories">ACCESSORIES</a></div>
        <div class="grid-item"><a href="Blog">BLOG</a></div>
    </div>
</div>

<div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199412.4868559348!2d-90.38389084380192!3d38.6530165071809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4a9faed8ef9%3A0xbe39eaca22bbe05b!2sSt.+Louis%2C+MO!5e0!3m2!1sen!2sus!4v1547169660021"
        frameborder="0" style="border:0; width: 100%; height: 500px;" allowfullscreen=""></iframe>
</div>