<div class="nav">
        <label for="toggle">&#9776;</label>
        <div class="logo"></div>
        <!-- <img src="../images/logo.png" alt="business logo" class="logo"> -->
        <input type="checkbox" id="toggle">
        <div class="menu">
            <a [routerLink]="['/homePage']">Home</a>
            <a [routerLink]="['/servicesPage']">Services</a>
            <a [routerLink]="['/bookingPage']"><span>Book</span></a>
            <a [routerLink]="['/blogPage']">Blog</a>
        </div>
    </div> 