<div class="toolbar">
    <!-- <img src="logo.png" alt="businesslogo" id="logo"> -->
    <!-- <div id="logo"></div> -->
    <div class="nav">
        <label for="toggle">&#9776;</label>
        <input type="checkbox" id="toggle">
        <div class="menu">
            <a [routerLink]="['/homePage']">Home</a>
            <a [routerLink]="['/bookingPage']"><span>Book</span></a>
            <a [routerLink]="['/servicesPage']">Services</a>
            <a [routerLink]="['/blogPage']">Blog</a>
            
        </div>
    </div>
</div>




