

.home-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.home {
    background-color: rgb(206, 198, 198);
    padding: 20px;
    flex: 1;
    margin-right: 1rem;
    margin-top: 1rem;
}
h2{
    text-align: center;
}

/* .flyer {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
} */

.flyer-a {
    background-color: #c0dbe2;
    flex: 1;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.flyer-b {
    background-color: #cdf1c3;
    flex: 1;
}
img {
    width: 29rem;
    height: 18rem;
}
.halloween {
    width: 16rem;
    height: 16rem;
   
}