.home-container {
    margin: auto;
    display: flex;
}

.home {
    padding: 20px;
    flex: 1;
}

#deal {
    margin-top: 5rem;
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}
