<div class="home-container">
  <div class="home">
        <h2>Deal of the month</h2>
    <img src="../../assets/images/halloween-flyer.jpg" id="halloween">
    <h2>Hurry! Sales Ends: </h2>
    <h3>{{timer}}</h3>
    <h1> St.Louis Phone Repair</h1>
    <img src="../../assets/images/phone-repair.jpg" class="logo">

    </div>

<!--    <div class="flyer">-->
<!--        <div class="flyer-a">-->
<!--            <h2>Deal Of The Month</h2>-->
<!--            <img src="../../assets/images/halloween-flyer.jpg" class="halloween">-->
<!--        </div>-->
<!--        <div class="flyer-b">B</div>-->
<!--    </div>-->

</div>
