<div class="home-container">
    <div class="home">
        <h2 id="deal">Deal of the month</h2>
        <img src="../../assets/images/halloween-flyer.jpg" id="halloween">
        <h2>Hurry! Sales Ends: </h2>
        <h3>{{timer}}</h3>
        <h1> St.Louis Phone Repair</h1>
        <img src="../../assets/images/phone-repair.jpg" class="logo">


        <div class="quick-links-container">
            <div class="left-column">
                <a href>
                    <div>Book</div>
                </a>
                <a href>
                    <div>Accessories</div>
                </a>
            </div>
            <div class="right-column">
                <a href>
                    <div>Blog</div>
                </a>
                <a href>
                    <div>Services</div>
                </a>
            </div>
        </div>


    </div>



</div>