<div class="home-container">
    <div class="home">
        <h2>#1 Afforadable Phone Repair Service</h2>
        <img src="../../assets/images/phone-repair.jpg">
        <h3> St.Louis Phone Repair</h3>
        <p>Expenses for a new cell phone often is over $500,
            while an iPhone screen replacement or other common
            cell phone repairs cost more than $100 on average.
            Here at Doctor iOS we repair your phone screens at
            a very affordable price to help you save. Don't break
            your phone screen then break the bank!</p>
    </div>
    <div class="flyer">
        <div class="flyer-a">
            <h2>Deal Of The Month</h2>
            <img src="../../assets/images/halloween-flyer.jpg" class="halloween">
        </div>
        <div class="flyer-b">B</div>
    </div>

</div>