<div>
    <h1>About Us</h1>
    <h5>#1 Afforable Phone Repair Service</h5>
    <p>Here at Doctor iOS we repair your phone screens at a very affordable price to help you save money. Get low-cost
        phone repair right at your door step because we even come to you.</p>
    <p>Expenses for a new cell phone often is over $500,
        while an iPhone screen replacement or other common cell phone repairs cost more than $100 on average.Don't break
        your
        phone screen then break the bank!</p>
</div>
