.logo {
    width: 100%;
    height: auto;
}

h1 {
    background: rgb(4, 116, 192);
    background: linear-gradient(90deg, rgba(4, 116, 192, 1) 32%, rgba(17, 118, 196, 1) 43%, rgba(236, 192, 39, 1) 66%);
    text-align: center;
}